<!DOCTYPE html>
<html>
  <head>
    <title>CabanaBooks</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <a href='/'><h1 class='title'>Cabana Books</h1></a>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
